In [125]:
%matplotlib inline
import pandas as pd

In [126]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [127]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                              title  year
0                                 8  2007
1                            Romans  2016
2                       Ultra-Toxic  2005
3                     The Candy Man  1969
4  Friends & Lovers: The Ski Trip 2  2008

In [128]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### How many movies are listed in the titles dataframe?

In [129]:
titles['title'].count()

229882

In [130]:
titles.iloc[0]

title       8
year     2007
Name: 0, dtype: object

### What are the earliest two films listed in the titles dataframe?

In [131]:
titles.sort_values('year').head(2)

                     title  year
120739          Miss Jerry  1894
219516  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [132]:
titles[titles.title == 'Hamlet'].count()

title    19
year     19
dtype: int64

### How many movies are titled "North by Northwest"?

In [133]:
titles[titles.title == "North by Northwest"].count()

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [134]:
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
78380  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [135]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
180978  Treasure Island  1918
205617  Treasure Island  1920
209569  Treasure Island  1934
136811  Treasure Island  1950
43994   Treasure Island  1972
45301   Treasure Island  1973
122800  Treasure Island  1985
64621   Treasure Island  1999

### How many movies were made in the year 1950?

In [136]:
titles[titles.year == 1950]['title'].count()

1081

### How many movies were made in the year 1960?

In [137]:
titles[titles.year == 1960]['title'].count()

1488

### How many movies were made from 1950 through 1959?

In [138]:
moviesOfDecade = 0
for count in range(1950,1960):
    moviesOfDecade = titles[titles.year == count].count() + moviesOfDecade
moviesOfDecade['title']

12602

### In what years has a movie titled "Batman" been released?

In [139]:
titles[titles.title == 'Batman']['year']

107587    1943
201542    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [140]:
cast[cast.title == 'Inception']['title'].count()

77

In [141]:
cast.iloc[3]['n']

nan

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [142]:
cast[(cast.title == "Inception")].title.count()-cast[(cast.title == "Inception")].n.count()

26

In [173]:
cast[(cast.title == "Inception")].name

92736         Michael (III) August
140820                Peter Basham
174018                Tom Berenger
187216                    Ken Bhan
246269              Virgile Bramly
309903               Michael Caine
316253                Earl Cameron
355738               John Ceallach
411751               Nicolas Clerc
421844              Adam (IV) Cole
491483          Jean-Michel Dagory
561277           Leonardo DiCaprio
650311               Seve Esposito
656547         Marcus (II) Everett
672703     Zachary Christopher Fay
674379                   Russ Fega
701015            Mark Fleischmann
768173              Michael Gaston
772244             Johnathan Geare
790988               Carl Gilliard
792230                 Jack Gilroy
795000           Daniel Girondeaud
817420        Joseph Gordon-Levitt
865674                  Lukas Haas
894479                   Tom Hardy
919619                Ryan Hayward
957354             Andrew Hoagland
1041630            Charles Jarrell
1054427              Seong-hwan Jo
1065296            Alonzo F. Jones
                    ...
1825433        Benjamin (II) Riley
1900025              Norman Saleet
1946899                Felix Scott
2020719          Colin (XXV) Smith
2125941               Affan Tareen
2137546              Jason Tendell
2153416             Kraig Thornber
2285161               Ken Watanabe
2479712           Natasha Beaumont
2619565           Marion Cotillard
2629254            Helena Cullinan
2647757             Youlanda Davis
2657859           Coralie Dedykere
2699102             Julie Eagleton
2773446               Claire Geare
2773454               Taylor Geare
2790016            Natalie Goldwin
2885914         Marguerite Insolia
2972416            Leticia LaBelle
2974801              Silvie Laguna
2981242               Shelley Lang
3022317          Alex (II) Lombard
3042962              Jill Maddrell
3151386           Angela Nathenson
3166335              Miranda Nolan
3191393                 Ellen Page
3244259             Nicole Pulliam
3270228         Lisa (II) Reynolds
3276806              Talulah Riley
3507556             Shannon Welles
Name: name, dtype: object

### But how many roles in the movie "Inception" did receive an "n" value?

In [143]:
cast[(cast.title == "Inception")].title.count()-cast[(cast.title == "Inception")].n.count()

26

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [144]:
cast[(cast.title == "Inception")&(~cast.n.isnull())].sort_values(['n'])

,title,year,name,type,character,n
561277,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
817420,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
3191393,Inception,2010,Ellen Page,actress,Ariadne,3.0
894479,Inception,2010,Tom Hardy,actor,Eames,4.0
2285161,Inception,2010,Ken Watanabe,actor,Saito,5.0
1782603,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1535932,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
174018,Inception,2010,Tom Berenger,actor,Browning,8.0
2619565,Inception,2010,Marion Cotillard,actress,Mal,9.0
1735286,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
309903,Inception,2010,Michael Caine,actor,Miles,11.0
865674,Inception,2010,Lukas Haas,actor,Nash,12.0
1244380,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
2773446,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
1585987,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
2773454,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
772244,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
1383024,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1617566,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
316253,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
919619,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
3166335,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
674379,Inception,2010,Russ Fega,actor,Cab Driver,23.0
1113020,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
3276806,Inception,2010,Talulah Riley,actress,Blonde,25.0
411751,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
2657859,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2974801,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
246269,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
491483,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
2629254,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
701015,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
2981242,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
421844,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
1538643,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
2153416,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
3151386,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
2479712,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
1768682,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
790988,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
3042962,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3022317,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3244259,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
140820,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
768173,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
1946899,Inception,2010,Felix Scott,actor,Businessman,46.0
1722075,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
3270228,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
2137546,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
792230,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
3507556,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [145]:
cast[(cast.title == "Sleuth")&(cast.year == 1972)].sort_values(['n'])

,title,year,name,type,character,n
1620851,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
309931,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
355001,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1392381,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2581312,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1376603,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [146]:
cast[(cast.title == "Sleuth")&(cast.year == 2007)].sort_values(['n'])

          title  year                 name     type          character    n
309932   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1228911  Sleuth  2007             Jude Law    actor               Milo  2.0
1716240  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
246374   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
355002   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2581311  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3176194  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [147]:
cast[(cast.title == "Hamlet")&(cast.year == 1921)].n.count()

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [148]:
cast[(cast.title == "Hamlet")&(cast.year == 1996)].n.count()

46

### How many "Hamlet" roles have been listed in all film credits through history?

In [149]:
cast[cast.character == "Hamlet"].character.count()

89

### How many people have played an "Ophelia"?

In [150]:
cast[cast.character == "Ophelia"].character.count()

107

### How many people have played a role called "The Dude"?

In [151]:
cast[cast.character == "The Dude"].character.count()

17

### How many people have played a role called "The Stranger"?

In [152]:
cast[cast.character == "The Stranger"].character.count()

209

### How many roles has Sidney Poitier played throughout his career?

In [153]:
cast[cast.name == "Sidney Poitier"].character.count()

43

### How many roles has Judi Dench played?

In [154]:
cast[cast.name == "Judi Dench"].character.count()

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [155]:
cast[(cast.name == "Cary Grant")&(cast.n == 2)&(cast.year >= 1940)].sort_values(['year'])

                   title  year        name   type    character    n
828310  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
828320    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [156]:
cast[(cast.name == "Cary Grant")&(cast.n == 1)&(cast.year >= 1940)&(cast.year <= 1949)].sort_values(['year'])

,title,year,name,type,character,n
828335,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
828292,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
828337,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
828325,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
828339,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
828316,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
828283,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
828308,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
828309,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
828317,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
828275,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
828312,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
828311,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
828314,Notorious,1946,Cary Grant,actor,Devlin,1.0
828331,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
828332,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
828307,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
828287,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
828296,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [157]:
cast[(cast.type == "actor")&(cast.year>=1950)&(cast.year<=1959)].type.count()

153936

### How many roles were avilable for actresses in the 1950s?

In [158]:
cast[(cast.type == "actress")&(cast.year>=1950)&(cast.year<=1959)].type.count()

55993

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [168]:
result = 0
for i in range(1894,1981):
    result = result + cast[(cast.n != 1)&(cast.year == i)].n.count()
result

652623

### How many non-leading roles were available through from the beginning of film history through 1980?

In [169]:
result = 0
for i in range(1894,1981):
    result = result + cast[(cast.n != 1)&(cast.year == i)].n.count()
result

652623

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [170]:
result = 0
for i in range(1894,1981):
    result = result + cast[(cast.n.isnull())&(cast.year == i)].name.count()
result

434676